name: C++ Werbserv CI

on:
  push:
    branches: [ "main", "ymiao/improve-server" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build project
      run: make
    - name: Run tests
      run: make check

